<!DOCTYPE html>
<html>
  <head>
    <title>ASI Portal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= yield :stylesheets %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :javascripts %>
  </head>

  <body>
    <%= navbar position: :top do %>
      <div class="container">
        <%= vertical do %>
          <%= link_to root_path do %>
            <span class="glyphicon glyphicon-cloud"/>
            Home
          <% end %>
          <%= link_to "Users", users_path %>
          <%= link_to "Clubs", clubs_path %>
        <% end %>
        <%= horizontal do %>
          <%= nav class: 'navbar-right' do %>
            <!--%= link_to 'About', "" %-->
            <%= link_to "Invite", new_user_invitation_path %>
            <li class="dropdown">
              <% if user_signed_in? %>
                <a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false">
                  <img class="user-pic" src="https://www.gravatar.com/avatar/<%= require 'digest/md5' ; Digest::MD5.hexdigest(current_user.email)%>.jpg?s=30" />
                  <%= current_user.name || current_user.email %>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <%= link_to 'Profile', edit_user_registration_path %>
                  <%= link_to 'Sign Out', destroy_user_session_path %>
                </ul>
              <% else %>
                <a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false">
                  Account <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <%= link_to 'Sign In', new_user_session_path %>
                  <%= link_to 'Sign Up', new_user_registration_path %>
                </ul>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <div class="container">
      <% if !flash.empty? %>
        <div class="container" id="flash">
          <% flash.each do |key, value| %>
            <%= alert_box value, context: flash_class(key), dismissible: true %>
          <% end %>
        </div>
      <% end %>
      <%= yield %>
    </div>
    <%= navbar position: :bottom do %>
      <div class="container">
        <%= vertical do %>
          <p class="navbar-text">ASI Portal</p>
        <% end %>
      </div>
    <% end %>
  </body>
</html>
